body {
	margin: 0;
	padding: 0;
	background: #ffffff;
}

header {
	height: 24px;
	background: #e4e4e4;
	margin: 0;
	padding: 10px;
	font-family: Arial;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
}

footer {
	width: 100%;
	height: 24px;
	background: #e4e4e4;
	bottom: 0;
	position: fixed;
	padding: 10px;
	font-family: Arial;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
}

section {
	position: absolute;
	width: 300px;
	height: 70px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -150px;
	background: #e4e4e4;
	border: 4px solid/* #efefef*/;
	text-align: center;
}

.FlatText {
	width: 160px;
	font-family: Arial;
	color: #000000;
	font-size: 12px;
	background: #f9f9f9;
	border: 2px solid #888888;
	float: right;
	margin-right: 10px;
}

.FlatFont {
	font-family: Arial;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}

.FlatField {
	text-align: left;
	width: 100%;
	height: 20px;
	margin: 10px 5px 0 5px;
}

